@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="app-body">
    <div class="row gx-3">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Doctors List</h5>
                    <a href="@Url.Action("Upsert", "Doctor")" class="btn btn-primary">Add Doctor</a>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="basicExample" class="table truncate m-0 align-middle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Doctor Name</th>
                                    <th>Specialty</th>
                                    <th class="text-center">Date of Birth</th>
                                    <th class="text-center">Phone</th>
                                    <th class="text-center">Email</th>
                                    <th class="text-center">Address</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var doctor in Model)
                                {
                                    <tr>
                                        <td>@doctor._id</td>
                                        <td>
                                            <img src="~/admin/images/user.png" class="img-shadow img-2x rounded-5 me-1" alt="Doctor Image">
                                            @doctor.firstname @doctor.lastname
                                        </td>
                                        <td>@doctor.specialty</td>
                                        <td class="text-center">@doctor.dob.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@doctor.phone</td>
                                        <td class="text-center">@doctor.email</td>
                                        <td class="text-center">@doctor.address</td>
                                        <td>
                                            <div class="d-inline-flex gap-1">
                                                <!-- Nút Edit -->
                                                <a href="@Url.Action("Upsert", "Doctor", new { id = doctor._id })"
                                                   class="btn btn-outline-success btn-sm"
                                                   data-bs-toggle="tooltip"
                                                   data-bs-placement="top"
                                                   data-bs-title="Edit Doctor Details">
                                                    <i class="ri-edit-box-line"></i>
                                                </a>
                                                <!-- Nút Delete -->
                                                <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delRow">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal Delete Row -->
                    <div class="modal fade" id="delRow" tabindex="-1" aria-labelledby="delRowLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delRowLabel">
                                        Confirm
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete the doctor from the list?
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex justify-content-end gap-2">
                                        <button class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">No</button>
                                        <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
                </div>
            </div>
        </div>
    </div>
</div>
