@model API_Patient_Managerment.Models.LoginM
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HTML Codex - Login Form Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Login Form Template" name="keywords">
    <meta content="Login Form Template" name="description">

    <!-- Favicon -->
    <link href="~/img/faviconLogin.ico" rel="icon">

    <!-- Stylesheet -->
    <link href="~/css/styleLogin.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper login-1">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Welcome Back</h2>
                    <p>Create your account.<br>It's totally free.</p>
                    <a class="btn" href="">Sign Up</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    <form asp-action = "Logins">
                        <p>
                            <label asp-for="@Model.UserName" class="form-label my-3"></label>
                            <input asp-for="@Model.UserName" class="form-control">
                            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                        </p>
                        <p>
                            <label asp-for="@Model.Password" class="form-label my-3"></label>
                            <input asp-for="@Model.Password" class="form-control">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </p>
                        <p>
                            <input type="submit" value="Sign In" />
                        </p>
                        <p>
                            <a href="">Forget Password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="credit">
            Template by <a href="https://htmlcodex.com">HTML Codex</a>
        </div>
    </div>
</body>
</html>
